/* @import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap"); */

.thumbnail{
   height: 220px;
   width: 280px;
   border-radius: 5px;
}

.thumbnail:hover {
    box-shadow: 0 0 2px #ffa500, 0 0 8px #ffa500, 0 0 10px #ffa500, 0 0 20px #ffa500, 0 0 20px #ff0000, 0 0 20px #ff8d00, 0 0 25px #ff0000;;
}

.customize{
    /* border: 2px solid white; */
    margin-left: 70px;
    margin-right: 70px;
    padding: 60px;
}

.custom-title{
    font-weight: 500 !important;
}

.magic {
    border: 2px solid white;
}





.head {
  font-size: calc(20px + 18vh);
  line-height: calc(20px + 20vh);
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}


@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {

  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {

  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

